* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
	margin: 0;
}

#myBtn {
	display: none; 
	position: fixed; 
	bottom: 20px; 
	right: 20px; 
	z-index: 99; 
	border: none; 
	outline: none; 
	background-color: rgba(204, 206, 211, 0.7); 
	color: white;
	cursor: pointer; 
	padding: 15px; 
	border-radius: 10px; 
	font-size: 18px; 
  }
  
  #myBtn:hover {
	background-color: #555;
  }


.navbar {
	color: #ffffff;
	padding: 20px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
}

nav button {
	background-color: transparent;
}

.dropdownContent {
	display: none;
	position: absolute;
	top: 0;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdownContent a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdownContent a:hover {
	background-color: #ddd;
}

nav a {
	font-weight: bolder;
}

/* .name a {
	color: #f3f4f6;
	border: solid #f3f4f6 2px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 40px;
	padding-top: 5px;
} */

/* .nav-buttons-1 a {

	margin-right: 20px;
	color: #fbfcfc;
	font-size: 20px;
}

.nav-buttons-2 a {
	margin-left: 20px;
	color: #fbfcfc;
	font-size: 20px;
} */

/* Not working below */

/* .name a:link { 
	text-decoration: none;
}

.name a:visited { 
	text-decoration: none; 
}

.name a:hover { 
	text-decoration: none;
	color: #1d7e2b;
}

.name a:active { 
	text-decoration: none; 
} */

.navLink:link { 
	text-decoration: none;
}

.navLink:visited { 
	text-decoration: none; 
}

.navLink:hover { 
	text-decoration: none;
	color: #1d7e2b;
}

.navLink:active { 
	text-decoration: none; 
}

/* above not working */

.hero {
	width: 100%;
    min-height: 100vh;
    background: url("images/climb.jpg");
    background-size: cover;
    position: relative;
	font-family: 'Ibarra Real Nova', serif;
}

.hero::before {

	content: "";
    background: rgba(0, 0, 0, 0.50);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.nameBackground {
	position: absolute;
	top: 280px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

h1 {
	color: #ffffff;
}

	
/* ABOUT SECTION*/

.about {
	background-image: url("images/Josh-Kaly-10.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #d0d1d3;
	padding-bottom: 100px;
}

.titleBorder {	
	background-color: #191c1d;
}

section div h2 {
	background-color: #191c1d;
	color: #f3f4f6;
}

.about {
	min-height: 100vh;
}

.aboutHeader {
	margin-bottom: 50px;
}

.aboutContainer {
	border: solid #191c1d 5px;
	background-color:rgba(204, 206, 211, 0.7);
	margin-top: 100px;
}

.text {
	font-size: 1.5rem;
	font-family:  'Ibarra Real Nova', serif;
	/* text-align: center; */
	/* padding: 20px; */
}


/* PORTFOLIO SECTION*/

.portfolio {
	background-image: url("images/Josh-Kaly-10.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #d0d1d3;
}

.projects {
	padding-bottom: 100px;
}

.project-boxes {
	margin-top: 100px;
	border: solid #191c1d 5px;
	background-color: rgba(204, 206, 211, 0.7);
	padding-right: 30px;
}

.project-photo {
	height: 300px;
	width: auto;
	opacity: 0.6;
	/* margin-left: 20px; */
	border: 1px solid #191c1d;
}

.project-photo:hover {
	opacity: 1;
}

.project-description {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
}

.language {
	color: #ffffff;
}

.links {
	display: flex;
	flex-direction: column;
	width: 8%;
}

.github {
	width: 50px;
	height: auto;
	padding-bottom: 20px;
	transition: transform 0.5s;
}

.live {
	width: 50px;
	height: auto;
	transition: transform 0.5s;
}

.github:hover {
	transform: scale(1.2);
	transition: transform 0.5s;
}

.live:hover {
	transform: scale(1.2);
	transition: transform 0.5s;
}

/* Contact Section */

.contactDetails {

	background-color: #353b3f;
	padding-top: 50px;

}

.contactDetails div a img {
	width: 75px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.copyright {
	display: flex;
	justify-content: center;
	background-color: #353b3f;
	padding-top: 30px;
}

.copyright p {
	color: #f3f4f6;
}

.contact-links:hover {
	transform: scale(1.2);
	transition: transform 0.5s; 
}

.contact-links {
	transition: transform 0.5s; 
}

/* MEDIA SCREEN SECTION*/

/* @media screen and (max-width: 1330px) {
	.project-boxes {
		width: 90%;
		margin-left: 50px;
	}
} */

@media screen and (max-width: 576px) {
	.intro {
		background-image: url("images/climbMobile.jpeg");
		background-position: center top;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color: #d0d1d3;
		width: 100%;
		height: 700px;
		/* display: flex;
		justify-content: flex-end;
		align-items: center;
		text-align: right;
		padding-right: 5%;
		padding-bottom: 500px;
		padding-top: 0; */
	}
	
	/* .blurb {
		padding-top: 405px;
		padding-left: 80%;
	}
	
	.about-container{
		display: flex;
		flex-direction: column-reverse;
		height: auto;
	}	
	
	.text {
		width: 370px;
		height: auto;
		border: solid #191c1d 5px;
		margin: 0px;
		padding: 10px;
		font-size: 1.1rem;
	}
	
	.josh-photo {
		width: 370px;
		height: auto;
		border: solid #191c1d 5px;
		margin: auto;
		padding: 10px;
	} */
}	



