* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
	margin: 0;
}

#myBtn {
	display: none; 
	position: fixed; 
	bottom: 20px; 
	right: 20px; 
	z-index: 99; 
	border: none; 
	outline: none; 
	background-color: rgba(204, 206, 211, 0.7); 
	color: white;
	cursor: pointer; 
	padding: 15px; 
	border-radius: 10px; 
	font-size: 18px; 
  }
  
  #myBtn:hover {
	background-color: #f1c296;
  }


.navbar {
	color: #ffffff;
	padding: 20px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
}

nav button {
	background-color: transparent;
}

.dropdownButton {
	color: #ffffff;
}

.dropdownContent {
	display: none;
	position: absolute;
	top: 50px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.45), transparent);
	min-width: 160px;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	z-index: 1;
}
.dropdownContent a {
	color: #ffffff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdownContent a:hover {
	background-color: #ddd;
}

nav a {
	font-weight: bolder;
	color: #ffffff;
}

body header nav a:link { 
	text-decoration: none;
}

body header nav a:visited { 
	text-decoration: none; 
}

body header nav a:hover { 
	color: #f1c296;
}

body header nav a:active { 
	text-decoration: none; 
}

.hero {
	width: 100%;
    min-height: 100vh;
    background: url("images/climb.jpg");
    background-size: cover;
    position: relative;
	font-family: 'Ibarra Real Nova', serif;
}

.hero::before {

	content: "";
    background: rgba(0, 0, 0, 0.50);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.nameBackground {
	position: absolute;
	top: 40%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

h1 {
	color: #ffffff;
}

	
/* ABOUT SECTION*/

.about {
	background-image: url("images/Josh-Kaly-10.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #d0d1d3;
	padding-bottom: 100px;
}

.titleBorder {	
	background-color: #191c1d;
}

section div h2 {
	background-color: #191c1d;
	color: #f3f4f6;
}

.about {
	min-height: 100vh;
}

.aboutHeader {
	margin-bottom: 50px;
}

.aboutContainer {
	border: solid #191c1d 3px;
	background-color:rgba(204, 206, 211, 0.7);
	margin-top: 100px;
}

.text {
	font-size: 1.5rem;
	font-family:  'Ibarra Real Nova', serif;
}

/* PORTFOLIO SECTION*/

.portfolio {
	background-image: url("images/Josh-Kaly-10.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #d0d1d3;
}

.projects {
	padding-bottom: 100px;
}

.project-boxes {
	margin-top: 100px;
	border: solid #191c1d 3px;
	background-color: rgba(204, 206, 211, 0.7);
	padding-right: 30px;
}

.project-photo {
	height: 300px;
	width: auto;
	opacity: 0.6;
	/* margin-left: 20px; */
	border: 1px solid #191c1d;
}

.project-photo:hover {
	opacity: 1;
}

.project-description {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
}

.language {
	color: #ffffff;
	background-color: #3b5c72;
	border-radius: 20%;
}
  


.language:link { 
	text-decoration: none;
}

.language:visited { 
	text-decoration: none; 
}

.language:hover { 
	color: #f1b37a;
		animation: shake 0.3s;
  		animation-iteration-count: 0.3s;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.language:active { 
	text-decoration: none; 
}

.links {
	display: flex;
	flex-direction: column;
	width: 8%;
}

.github {
	width: 50px;
	padding-bottom: 20px;
	transition: transform 0.5s;
}

.live {
	width: 50px;
	transition: transform 0.5s;
}

.github:hover {
	transform: scale(1.2);
	transition: transform 0.5s;
}

.live:hover {
	transform: scale(1.2);
	transition: transform 0.5s;
}

/* Contact Section */

.contactDetails {

	background-color: #353b3f;
	padding-top: 50px;

}

.contactDetails div a img {
	width: 75px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.copyright {
	display: flex;
	justify-content: center;
	background-color: #353b3f;
	padding-top: 30px;
}

.copyright p {
	color: #f3f4f6;
}

.contact-links:hover {
	transform: scale(1.2);
	transition: transform 0.5s; 
}

.contact-links {
	transition: transform 0.5s; 
}

@media screen and (max-width: 576px) {
	.intro {
		background-image: url("images/climbMobile.jpeg");
		background-position: center top;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color: #d0d1d3;
		width: 100%;
		height: 700px;
	}
}	



